@import "../fonts/fonts.css";

body {
    margin: 0;
    padding: 0;
}

/* H   E   A   D   E   R    */

header {
    background-image: url("../images/header-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

}
.navbar {
    display: flex;
}
.navbar-items {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-items li{
    padding: 40px 22px;
    list-style: none;
    font-size: 24px;
    border-bottom: 5px solid transparent;
    font-family: 'MyriadProRegular';
    }
.navbar-items li:hover{
    border-bottom: 5px solid #11749e;
}
.navbar-items a {
    text-decoration: none;
    color: white;
}
.navbar-images {
    margin: 0;
    display: flex;
    padding: 0 100px 0 20px;
}
.navbar-images li{
    list-style: none;
    font-size: 24px;
    padding: 40px 0 0 30px;
}
.navbar-images a i:hover {
    color: #11749e;
}
.navbar-images a {
    text-decoration: none;
    color: #ffffff;
}
.header-middle {
    text-align: center;
}
.header-middle h1 {
    color: white;
    font-size: 152px;
    font-family: 'Gotham Pro';
    margin: 0;
}
.header-middle a {
    font-size: 24px;
    text-decoration: none;
    color: dodgerblue;
    font-family: 'Gotham Pro Light';
    letter-spacing: 25px;
}
.scroll-down {
    display: block;
    text-align: center;
    padding: 0 0 100px 0;
}
.scroll-down h5 {
    color: #ffffff;
    font-size: 13px;
    font-family: 'OpenSansRegular';
    font-weight: 100;
}
.scroll-down a:hover {
    opacity: 0.5;
}



/* A   B   O   U   T     A   G   E   N   C   Y     */

.about-agency {
    background-color: #11749e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.we-are {
    background-image: url("../images/W.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.we-are p {
    width: 100%;
    font-size: 38px;
    color: white;
    font-family: "Gotham Pro Light";
    font-weight: 900;
}
.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
    padding: 0 50px 50px 0;
}
.f1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 15%;
    padding: 0 30px;
}
.f2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 15%;
    padding: 0 30px;
}
.f3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 15%;
    padding: 0 30px;
}
.f4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 15%;
    padding: 0 30px;

}
.features i {
    background-color: #2e85aa;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 133px;
    width: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;

}
.features span {
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
}
.features p {
    font-family: "Gotham Pro";
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    text-align-last: center;
}




/*    N  E  W  S     A  R  E  A  */

.news-area {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.news-one {
    background-color: #222222;
    height: 50%;
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-two {
    background-image: url(../images/news-area1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
    width: 50%;
}
.news-three {
    background-image: url(../images/news-area2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50%;
    width: 50%;
}
.news-four {
    background-color: #f3f3f3;
    height: 50%;
    width: 50%;
    color: black;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 4%;
}
.newso {
    width: 50%;
}
.newst {
    width: 60%;
}
.news-area span {
    font-family: "Gotham Pro Light";
    font-size: 13px;
    line-height: 20px;
}
.news-area section {
    font-family: "Gotham Pro Medium";
    font-size: 25px;
    line-height: 50px;
}
.news-area p {
    font-family: "Gotham Pro Light";
    font-size: 15px;
    line-height: 22px;
}



/*     B  L  O  G    A  R  E  A   */

.blog-area {
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.lets-blog {
    background-image: url("../images/B.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lets-blog p {
    width: 100%;
    font-size: 38px;
    font-family: "Gotham Pro Medium";
}
.we-love p {
    font-size: 30px;
    font-family: "Gotham Pro Light";
    font-weight: 600;
    padding: 0 0 30px 0;
}
.blog {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.blog1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 17%;
}
.blog2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 17%;
}
.blog3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 17%;
}
.blog4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 17%;
}
.blog img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog span {
    font-family: "Gotham Pro";
    font-size: 18px;
    padding: 30px 0 0 0;
    font-weight: 600;
    color: #11749e;
}
.blog p {
    font-family: "Gotham Pro";
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    padding: 0 25px 0 25px;
}













/*
.wu {
    text-align: center;

}
.row {
    padding: 22% 10%;
}
.im {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.name {
    font-size: 24px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    line-height: 60px;
}
.text {
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
    line-height: 30px;
}
.text >section {
    width: 300px;
    text-align: center;
}
.twopage {
    background-image: url("../images/Page3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.up {
    text-align: left;
    color: white;
    /*text-indent: 120px;
    position: absolute;
    top: 200%;
    left: 9%;
    width: 650px;
}
.down {
    text-align: left;
    color: black;
    position: absolute;
    top: 248%;
    left: 54%;
    width: 650px;
}
.threepage{
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.B {
    text-align: center;
    position: absolute;
    top: 298%;
    left: 50%;
    transform: translateX(-50%);
}
.Bi {
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 304%;
    left: 50%;
    transform: translateX(-50%);
}
.rows {
    font-size: 32px;
    text-align: center;
    position: absolute;
    top: 321%;
    left: 50%;
    transform: translateX(-50%);
}
.rowone {
    padding: 19% 10%;
}
.ima {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.names {
    font-size: 24px;
    color: dodgerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    line-height: 60px;
}
.texts {
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
    line-height: 30px;
}
.texts >section {
    width: 300px;
    text-align: center;
}
.fourpage {
    background-color: dodgerblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 10%;
}
.fourpage >section {
    color: white;
    font-size: 20px;
    width: 620px;
}
.fivepage {
    background-image: url("../images/background5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.fivepage >img {
    align-items: center;
    position: absolute;
    top: 445%;
    left: 60%;
}
.tex {
    text-align: left;
    color: white;
    position: absolute;
    top: 450%;
    left: 9%;
    width: 650px;
}
.btn {
    border: none;
    color: white;
    cursor: pointer;
}
.fully {
    background-color: dodgerblue;
    position: absolute;
    top: 490%;
    left: 9%;
    height: 38px;
    width: 300px;
    text-align: left;
    text-indent: 12px;
}
.fully:hover {
    background-color: #1e90aa;
}
.high {
    background-color: dodgerblue;
    position: absolute;
    top: 497%;
    left: 9%;
    height: 38px;
    width: 350px;
    text-align: left;
    text-indent: 12px;
}
.high:hover {
    background-color: #1e90aa;
}
.different {
    background-color: dodgerblue;
    position: absolute;
    top: 504%;
    left: 9%;
    height: 38px;
    width: 400px;
    text-align: left;
    text-indent: 12px;
}
.different:hover {
    background-color: #1e90aa;
}
.sixpage {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.T {
    text-align: center;
    position: absolute;
    top: 545%;
    left: 50%;
    transform: translateX(-50%);
}
.Ti {
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 551%;
    left: 50%;
    transform: translateX(-50%);
}
.te {
    font-size: 32px;
    text-align: center;
    position: absolute;
    top: 568%;
    left: 50%;
    transform: translateX(-50%);
}
.roww {
    padding: 23% 10%;
}
.imag {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.rowww {
    position: relative;
    bottom: 110px;

}
.namess {
    font-size: 24px;
    color: dodgerblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;


}
.textss {
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify;
    line-height: 40px;
}
.textss >section {
    width: 300px;
    text-align: center;
}
.sevenpage {
    background-image: url("../images/background8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.C {
    text-align: center;
    position: absolute;
    top: 645%;
    left: 50%;
    transform: translateX(-50%);
}
.Ci {
    font-size: 40px;
    color: white;
    text-align: center;
    position: absolute;
    top: 652%;
    left: 50%;
    transform: translateX(-50%);
}
.form {
    padding: 23% 10%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.form >input {
    height: 35px;
    width: 450px;
    text-indent: 20px;
    background: transparent;
}
.forms {
    position: relative;
    bottom: 40%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;



}
.forms >input::placeholder {
    height: 250px;
    width: 1467px;
    text-indent: 20px;
    text-align: left;
    background: transparent;
    /*display: inline-table;
    vertical-align: top;

}
.submit {
    background-color: dodgerblue;
    position: absolute;
    top: 720%;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 20px;
}
.submit:hover {
    background-color: #1e90aa;
}
.submit:active {
    background-color: blue;
}
.map {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
}
footer {
    background-color: #292928;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

@media screen and (max-width: 1450px){
    .navbar-items {
        width: 70%;
    }
}
