@import "../fonts/fonts.css";

body {
    margin: 0;
    padding: 0;
}

/* H   E   A   D   E   R    */

header {
    background-image: url("../images/header-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

}
.navbar {
    display: flex;
}
.mobile-menu {
    display: none;
}
.navbar-items {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-items li{
    padding: 40px 22px;
    list-style: none;
    font-size: 24px;
    border-bottom: 5px solid transparent;
    font-family: 'MyriadProRegular';
    }
.navbar-items li:hover{
    border-bottom: 5px solid #11749e;
}
.navbar-items a {
    text-decoration: none;
    color: white;
}
.navbar-images {
    margin: 0;
    display: flex;
    padding: 0 100px 0 20px;
}
.navbar-images li{
    list-style: none;
    font-size: 24px;
    padding: 40px 0 0 30px;
}
.navbar-images a i:hover {
    color: #11749e;
}
.navbar-images a {
    text-decoration: none;
    color: #ffffff;
}
.header-middle {
    text-align: center;
}
.header-middle h1 {
    color: white;
    font-size: 152px;
    font-family: 'Gotham Pro';
    margin: 0;
}
.header-middle a {
    font-size: 24px;
    text-decoration: none;
    color: dodgerblue;
    font-family: 'Gotham Pro Light';
    letter-spacing: 25px;
}
.scroll-down {
    display: block;
    text-align: center;
    padding: 0 0 100px 0;
}
.scroll-down h5 {
    color: #ffffff;
    font-size: 13px;
    font-family: 'OpenSansRegular';
    font-weight: 100;
}
.scroll-down a:hover {
    opacity: 0.5;
}



/* A   B   O   U   T     A   G   E   N   C   Y     */

.about-agency {
    background-color: #11749e;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.we-are {
    background-image: url("../images/W.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.we-are p {
    width: 100%;
    font-size: 38px;
    color: white;
    font-family: "Gotham Pro Light";
    font-weight: 900;
}
.features {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: center;
    padding: 0 50px 50px 0;
}
.f1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 15%;
    padding: 0 30px;
}
.f2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 15%;
    padding: 0 30px;
}
.f3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 15%;
    padding: 0 30px;
}
.f4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 15%;
    padding: 0 30px;

}
.features i {
    background-color: #2e85aa;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    height: 133px;
    width: 133px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;

}
.features span {
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
}
.features p {
    font-family: "Gotham Pro";
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
    text-align-last: center;
}




/*    N  E  W  S     A  R  E  A  */

.news-area {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.news-area > div {
    width: 50%;
    height: 50%;
}
.news-area img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.news-one {
    background-color: #222222;
    height: 50%;
    width: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.news-four {
    background-color: #f3f3f3;
    height: 50%;
    width: 50%;
    color: black;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 4%;
}
.newso {
    width: 50%;
}
.newst {
    width: 60%;
}
.news-area span {
    font-family: "Gotham Pro Light";
    font-size: 13px;
    line-height: 20px;
}
.news-area section {
    font-family: "Gotham Pro Medium";
    font-size: 25px;
    line-height: 50px;
}
.news-area p {
    font-family: "Gotham Pro Light";
    font-size: 15px;
    line-height: 22px;
}



/*     B  L  O  G    A  R  E  A   */

.blog-area {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}
.lets-blog {
    background-image: url("../images/B.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lets-blog p {
    width: 100%;
    font-size: 38px;
    font-family: "Gotham Pro Medium";
}
.we-love p {
    font-size: 30px;
    font-family: "Gotham Pro Light";
    font-weight: 600;
    padding: 0 0 30px 0;
}
.blog {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.blog1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 15px;
}
.blog2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 15px;
}
.blog3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 15px;
}
.blog4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    margin: 0 15px;
}
.blog img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.blog span {
    font-family: "Gotham Pro";
    font-size: 18px;
    padding: 30px 0 0 0;
    font-weight: 600;
    color: #11749e;
}
.blog p {
    font-family: "Gotham Pro";
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    padding: 0 25px 0 25px;
}




/*    Q  U  I  C  K     A  C  T  I  O  N     A  R  E  A        */

.quick-action {
    background-color: #11749e;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    justify-content: center;
    color: #ffffff;

}
.quick-action div {
    display: flex;
    justify-content: center;
}
.quick-action p {
    max-width: 60%;
    font-size: 15px;
    font-family: "Gotham Pro Light";
    line-height: 24px;
    padding: 0 30px 0 0;
}
.quick-action i {
    font-size: 64px;
    padding: 0 30px;
}





/*     K  E  Y     F  E  A  T  U  R  E  S     */

.key-feature {
    background-image: url(../images/background5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.text-area {
    width: 40%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.text-area span {
    font-family: "Gotham Pro Medium";
    font-size: 25px;
    text-align: left;
    line-height: 50px;
    padding: 20px 0;
}
.text-area p {
    font-family: "Gotham Pro Light";
    font-size: 15px;
    text-align: left;
    width: 62%;
    line-height: 25px;
}
.buttons {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}
.btn {
    border: none;
    color: white;
    cursor: pointer;
}
.fully {
    background-color: #11749e;
    height: 38px;
    width: 300px;
    font-family: "Gotham Pro Light";
    font-size: 15px;
    text-align: left;
    text-indent: 12px;
    margin: 10px 0;
}
.fully:hover {
    background-color: #1e90aa;
}
.fully:active {
    background-color: #2e85aa;
}
.high {
    background-color: #11749e;
    height: 38px;
    width: 350px;
    font-family: "Gotham Pro Light";
    font-size: 15px;
    text-align: left;
    text-indent: 12px;
    margin: 10px 0;
}
.high:hover {
    background-color: #1e90aa;
}
.high:active {
    background-color: #2e85aa;
}
.different {
    background-color: #11749e;
    height: 38px;
    width: 400px;
    font-family: "Gotham Pro Light";
    font-size: 15px;
    text-align: left;
    text-indent: 12px;
    margin: 10px 0;
}
.different:hover {
    background-color: #1e90aa;
}
.different:active {
    background-color: #2e85aa;
}
.phone {
    width: 35%;
    display: flex;
    justify-content: left;
    align-items: center;
}


/*    T   E   A   M    */

.team {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}
.our-team {
    background-image: url("../images/T.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-team p {
    font-family: "Gotham Pro Medium";
    font-size: 38px;
}
.sales p {
    font-family: "Gotham Pro Light";
    font-size: 30px;
    font-weight: 800;
}
.members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.members-info {
    position: absolute;
    bottom: -10%;
    background-color: white;
    color: #11749e;
    font-family: "Gotham Pro Medium";
    font-size: 20px;
    padding: 25px 25px 5px 25px;
}
.members p {
    font-family: "Gotham Pro Medium";
    font-size: 15px;
    color: black;
    text-align: center;
}
.john {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 15px;
}
.lady {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 15px;
}
.david {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 15px;
}
.ladys {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 15px;
}




/*      C  O  N  T  A  C  T     U  S  */
.contact {
    background-image: url("../images/background8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.wed-love {
    background-image: url("../images/C.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wed-love p {
    color: white;
    font-family: "Gotham Pro Medium";
    font-size: 38px;
}
.contact form {
    display: flex;
    flex-direction: column;
    width: 65%;
}
.inputs {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}
.inputs input {
    width: 31%;
    background: transparent;
    font-family: "Gotham Pro Medium";
    font-size: 15px;
    text-indent: 20px;
    height: 40px;
    color: white;
}
.inputs input::placeholder {
    color:#ffffff;
}
.contact textarea {
    background: transparent;
    font-family: "Gotham Pro Medium";
    font-size: 15px;
    text-indent: 20px;
    height: 150px;
    line-height: 35px;
    color: #ffffff;
}
textarea::placeholder {
    color: #ffffff;
}
.button-submit {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}
.submit {
    background-color: #11749e;
    color: #ffffff;
    font-family: "Gotham Pro Medium";
    font-size: 24px;
    width: 135px;
    line-height: 50px;
}
.submit:hover {
    background-color: #1e90aa;
}
.submit:active {
    color: #2e85aa;
}
.map {
    width: 100%;
    height: 20vh;
}
.map iframe {
    width: 100%;
    height: 100%;
}
footer {
    background-color: #222222;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
footer p {
    color: #ffffff;
    font-size: 13px;
}
footer img {
    display: flex;
    align-items: center;
    height: 25px;
    margin: 5px 0;
}


@media screen and (max-width: 1440px) {
    .navbar-items li {
        font-size: 22px;
    }

    .header-middle h1 {
        font-size: 140px;
    }

    .features p {
        font-size: 13px;
        line-height: 25px;
    }

}
@media screen and (max-width: 1024px) {
    header {
        position: relative;
    }
    .header-top {
        display: flex;
        justify-content: space-between;
        margin: 15px;
    }
    .navbar-items {
        display: none;
        position: absolute;
        background-image: url("../images/header-background.png");
        top: 10.5%;
        left: 0;
        width: 100%;
        height: 90%;
        text-align: center;
    }
    .mobile-menu {
        display: block;
        font-size: 48px;
        justify-content: right;
        color: white;
    }
    .features {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 50px 0;
    }
    .features div {
        width: 30%;
    }
    .news-area {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .news-area > div {
        height: unset;
    }
    .news-area > div {
        width: 100%;
    }
    .newso {
        width: 100%;
    }
    .newst {
        width: 100%;
    }
    .news-one {
        order: 2;
        padding: 4%;
    }
    .news-two {
        order: 1;
    }
    .news-three {
        order: 3;
    }
    .news-four {
        order: 4;
    }
    .blog {
        display: flex;
        flex-wrap: wrap;
    }
    .blog div {
        width: 40%
    }
    .quick-action {
        display: flex;
        flex-wrap: wrap;
    }
    .phone {
        display: none;
    }
    .text-area p {
        width: 100%;
    }
    .members {
        display: flex;
        flex-wrap: wrap;
    }
    .members > div {
        margin: 0 0 50px 0;
    }
    .inputs {
        display: flex;
        flex-wrap: wrap;
    }
    .inputs input {
        width: 100%;
        margin: 15px 0;
    }
}
@media screen and (max-width: 768px) {
    .header-middle h1 {
        font-size: 100px;
    }
    .header-middle a {
        font-size: 10px;
    }
    .we-are p {
        font-size: 24px;
    }
    .features {
        display: flex;
        flex-wrap: wrap;
    }
    .features div {
        width: 50%;
    }
    .blog div {
        width: 50%
    }
    .we-love p {
        font-size: 24px;
    }
    .sales p {
        font-size: 24px;
    }
    .wed-love p {
        font-size: 24px;
    }
    .members > div {
        width: 100%;
    }
}






